.main {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;

  gap: 8px;
  padding: 8px;

  height: calc(100% - 16px);
}

.nav {
  grid-column-end: span 2;
}

.editor {
  grid-column-end: span 2 !important;
  height: 300px !important;
}

.textarea {
  border-style: solid;
  overflow: auto;
}

.textarea:read-only {
  background-color: whitesmoke;
}