.main {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;

  gap: 8px;
  padding: 8px;

  height: calc(100% - 16px);
}

.nav {
  grid-column-end: span 2;
}

.textarea {

}

.textarea:read-only {
  background-color: whitesmoke;
}